In [19]:
import requests
import defs
import pandas as pd

In [3]:
session = requests.session()

In [5]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"
url

'https://api-fxpractice.oanda.com/v3/accounts/101-004-26226139-001/instruments'

In [6]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

response.status_code

200

In [8]:
data = response.json()

In [9]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [10]:
instruments = data["instruments"]

In [15]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'minimumGuaranteedStopLossDistance', 'guaranteedStopLossOrderExecutionPremium', 'guaranteedStopLossOrderLevelRestriction', 'tags', 'financing'])

In [16]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [18]:
for item in instrument_data[0:3]:
    print(item)

{'name': 'NL25_EUR', 'type': 'CFD', 'displayName': 'Netherlands 25', 'pipLocation': -2, 'marginRate': '0.10'}
{'name': 'CHINAH_HKD', 'type': 'CFD', 'displayName': 'China H Shares', 'pipLocation': 0, 'marginRate': '0.1'}
{'name': 'EUR_ZAR', 'type': 'CURRENCY', 'displayName': 'EUR/ZAR', 'pipLocation': -4, 'marginRate': '0.05'}

In [20]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [23]:
instrument_df

           name      type     displayName  pipLocation        marginRate
0      NL25_EUR       CFD  Netherlands 25           -2              0.10
1    CHINAH_HKD       CFD  China H Shares            0               0.1
2       EUR_ZAR  CURRENCY         EUR/ZAR           -4              0.05
3       EUR_CHF  CURRENCY         EUR/CHF           -4              0.04
4    NAS100_USD       CFD      US Nas 100            0              0.05
..          ...       ...             ...          ...               ...
119     USD_CAD  CURRENCY         USD/CAD           -4  0.03333333333333
120     AUD_USD  CURRENCY         AUD/USD           -4              0.05
121     HKD_JPY  CURRENCY         HKD/JPY           -4               0.1
122     EUR_SEK  CURRENCY         EUR/SEK           -4              0.05
123     USD_SGD  CURRENCY         USD/SGD           -4              0.05

[124 rows x 5 columns]

In [24]:
instrument_df.to_pickle("instruments.pkl")

In [25]:
new_table = pd.read_pickle("instruments.pkl")

In [26]:
new_table

           name      type     displayName  pipLocation        marginRate
0      NL25_EUR       CFD  Netherlands 25           -2              0.10
1    CHINAH_HKD       CFD  China H Shares            0               0.1
2       EUR_ZAR  CURRENCY         EUR/ZAR           -4              0.05
3       EUR_CHF  CURRENCY         EUR/CHF           -4              0.04
4    NAS100_USD       CFD      US Nas 100            0              0.05
..          ...       ...             ...          ...               ...
119     USD_CAD  CURRENCY         USD/CAD           -4  0.03333333333333
120     AUD_USD  CURRENCY         AUD/USD           -4              0.05
121     HKD_JPY  CURRENCY         HKD/JPY           -4               0.1
122     EUR_SEK  CURRENCY         EUR/SEK           -4              0.05
123     USD_SGD  CURRENCY         USD/SGD           -4              0.05

[124 rows x 5 columns]