In [20]:
import requests
import defs
import pandas as pd

In [21]:
session = requests.session()

In [22]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [23]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [28]:
params = dict(
    count = count,
    granularity =granularity, 
    price = "MBA" 
)

params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [30]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

response.status_code

200

In [32]:
data = response.json()

In [33]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [34]:
len(data["candles"])

10

In [36]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [38]:
for price in prices:
    for oh in ohlc:
        print(f'{price}_{oh}')

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [42]:
data['candles'][0]['bid']['h']

'1.08586'

In [45]:
our_data = []
for candle in data["candles"]:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f'{price}_{oh}'] = candle[price][oh]
    our_data.append(new_dict)
print(our_data[0])

{'time': '2023-06-30T11:00:00.000000000Z', 'volume': 3374, 'mid_o': '1.08534', 'mid_h': '1.08593', 'mid_l': '1.08492', 'mid_c': '1.08536', 'bid_o': '1.08526', 'bid_h': '1.08586', 'bid_l': '1.08486', 'bid_c': '1.08529', 'ask_o': '1.08541', 'ask_h': '1.08600', 'ask_l': '1.08499', 'ask_c': '1.08542'}

In [47]:
candles_df = pd.DataFrame.from_dict(our_data)

In [48]:
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-06-30T11:00:00.000000000Z,3374,1.08534,1.08593,1.08492,1.08536,1.08526,1.08586,1.08486,1.08529,1.08541,1.08600,1.08499,1.08542
1,2023-06-30T12:00:00.000000000Z,7696,1.08540,1.08978,1.08532,1.08972,1.08533,1.08972,1.08525,1.08965,1.08546,1.08985,1.08539,1.08978
2,2023-06-30T13:00:00.000000000Z,8572,1.08970,1.09169,1.08964,1.09146,1.08964,1.09161,1.08957,1.09134,1.08977,1.09177,1.08970,1.09157
3,2023-06-30T14:00:00.000000000Z,10341,1.09146,1.09318,1.09087,1.09104,1.09135,1.09312,1.09080,1.09098,1.09157,1.09325,1.09094,1.09110
4,2023-06-30T15:00:00.000000000Z,6222,1.09103,1.09195,1.09066,1.09192,1.09097,1.09188,1.09060,1.09186,1.09109,1.09202,1.09073,1.09199
5,2023-06-30T16:00:00.000000000Z,4251,1.09190,1.09226,1.09121,1.09184,1.09184,1.09218,1.09114,1.09178,1.09197,1.09233,1.09127,1.09191
6,2023-06-30T17:00:00.000000000Z,3138,1.09186,1.09230,1.09098,1.09118,1.09179,1.09224,1.09092,1.09112,1.09193,1.09237,1.09105,1.09125
7,2023-06-30T18:00:00.000000000Z,2697,1.09118,1.09160,1.09105,1.09110,1.09111,1.09153,1.09099,1.09103,1.09126,1.09166,1.09111,1.09116
8,2023-06-30T19:00:00.000000000Z,2763,1.09114,1.09148,1.09094,1.09130,1.09107,1.09142,1.09086,1.09122,1.09120,1.09155,1.09101,1.09137
9,2023-06-30T20:00:00.000000000Z,1556,1.09132,1.09132,1.09080,1.09110,1.09125,1.09125,1.09071,1.09082,1.09138,1.09145,1.09088,1.09139

In [49]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [50]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [52]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-06-30T11:00:00.000000000Z,3374,1.08534,1.08593,1.08492,1.08536,1.08526,1.08586,1.08486,1.08529,1.08541,1.08600,1.08499,1.08542
1,2023-06-30T12:00:00.000000000Z,7696,1.08540,1.08978,1.08532,1.08972,1.08533,1.08972,1.08525,1.08965,1.08546,1.08985,1.08539,1.08978
2,2023-06-30T13:00:00.000000000Z,8572,1.08970,1.09169,1.08964,1.09146,1.08964,1.09161,1.08957,1.09134,1.08977,1.09177,1.08970,1.09157
3,2023-06-30T14:00:00.000000000Z,10341,1.09146,1.09318,1.09087,1.09104,1.09135,1.09312,1.09080,1.09098,1.09157,1.09325,1.09094,1.09110
4,2023-06-30T15:00:00.000000000Z,6222,1.09103,1.09195,1.09066,1.09192,1.09097,1.09188,1.09060,1.09186,1.09109,1.09202,1.09073,1.09199
5,2023-06-30T16:00:00.000000000Z,4251,1.09190,1.09226,1.09121,1.09184,1.09184,1.09218,1.09114,1.09178,1.09197,1.09233,1.09127,1.09191
6,2023-06-30T17:00:00.000000000Z,3138,1.09186,1.09230,1.09098,1.09118,1.09179,1.09224,1.09092,1.09112,1.09193,1.09237,1.09105,1.09125
7,2023-06-30T18:00:00.000000000Z,2697,1.09118,1.09160,1.09105,1.09110,1.09111,1.09153,1.09099,1.09103,1.09126,1.09166,1.09111,1.09116
8,2023-06-30T19:00:00.000000000Z,2763,1.09114,1.09148,1.09094,1.09130,1.09107,1.09142,1.09086,1.09122,1.09120,1.09155,1.09101,1.09137
9,2023-06-30T20:00:00.000000000Z,1556,1.09132,1.09132,1.09080,1.09110,1.09125,1.09125,1.09071,1.09082,1.09138,1.09145,1.09088,1.09139